---
import { getCollection, getEntry, render } from 'astro:content';

const contents = await getCollection('contents');

const about = await getEntry('contents', 'about');
if (!about) {
	// Handle Error, for example:
	throw new Error('Could not find about entry');
}

const { Content } = await render(about);

---

<section aria-label="about me section of my resume" class="mt-12">
	{
		contents.map((content) => {
			const { data } = content;
			const { title } = data;
			return <h2 class="text-2xl mb-4">{title}</h2>;
		})
	}
	<Content />
</section>
