---

---

<section>
	<h2 class="text-2xl mb-4">Certifications</h2>
	<article>
		<div class="flex flex-row justify-between">
			<h3>Java Backend Developer</h3>
			<span class="text-gray-400">Jun 2024</span>
		</div>
		<p class="text-sm mt-2">Alura Latam & Oracle ONE</p>
	</article>
	<article>
		<div class="flex flex-row justify-between">
			<h3>Scrum Foundational Certification</h3>
			<span class="text-gray-400">Aug 2023</span>
		</div>
		<p class="text-sm mt-2">Certiprof</p>
	</article>
	<article>
		<div class="flex flex-row justify-between">
			<h3>Data Analyst</h3>
			<span class="text-gray-400">Oct 2022</span>
		</div>
		<p class="text-sm mt-2">Correlation One</p>
	</article>
</section>
