---
import { Icon } from 'astro-icon/components';
---

<section class="flex flex-row justify-between gap-16 mt-9">
	<div>
		<h1 class="mb-4 text-2xl">Jorge Luis Morales Cruz</h1>
		<p class="text-gray-300 mb-2">
			I'm a passionate software developer with a strong foundation in
			full-stack development, particularly in backend technologies like
			.NET Framework. I am currently seeking an internship opportunity in
			QA testing to further enhance my skills and gain practical
			experience in the tech industry.
		</p>
		<div class="flex flex-row items-center gap-2">
			<Icon name="mdi:planet" />
			<span>Medellín, Colombia</span>
		</div>
		<div class="flex flex-row items-center gap-2 mt-2">
			<a
				href="https://github.com/luiferDev"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Icon
					name="mdi:github"
					class="text-2xl text-gray-300 hover:text-white transition-colors"
				/>
			</a>
			<a
				href="https://www.linkedin.com/in/jorge-morales-cruz/"
				target="_blank"
				rel="noopener noreferrer"
			>
				<Icon
					name="mdi:linkedin"
					class="text-2xl text-gray-300 hover:text-white transition-colors"
				/>
			</a>
			<Icon
				name="mdi:email"
				class="text-2xl text-gray-300 hover:text-white transition-colors"
			/>
		</div>
	</div>
	<img
		class="rounded-lg aspect-video"
		src="luiferdev.jpg"
		width="160px"
		alt="Jorge Luis Morales Cruz"
	/>
</section>
